html{
    padding-top: 2rem;
    background-color: cornsilk;
    color: steelblue;
    text-align: center;
    font-size: 1.2rem;
}

body{
    width:95%;
    margin:auto;
}
h1, h2{
    margin: 0.5rem 0 3% 0.5rem;
    font-size: 1.5rem;
}
h1{
    color: darkslategrey;
}
h2{
    color: rosybrown;
    display:inline-block;
}

#flag{
    display:inline-block;
}

#canoe{
    width: 10%;
}
.processNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.3rem;
    margin:0 1% 3% 1%;
    font-size: 1.1rem;
}
.navImg{
    grid-column: 1/4;
}
/* .navItem{
    margin-top: 0.7rem;
    border: 1px solid olivedrab;
} */

#processBody{
    width: 98%;
    height: auto;
    border-left: 1px solid olivedrab;
    margin: auto;
}

.invisible{
    /* we could use visible here but it would take up space */
    display: none;    
}

a{
    text-decoration: none;
    color: royalblue;
    /* unless we set display as inline-block, cannot give padding to a tag */
    display: inline-block;
    padding-top: 0.5rem;
}
li{
    text-align: left;
}
button{
    font-size: 0.8rem;
    color: steelblue;
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    margin: 0 1rem 0 1rem;
    padding: 0.5rem 0 0.5rem 0;
    cursor:pointer;
}
p{
    color:navy;
    text-decoration: underline;
    text-align: left;
    padding-left: 2rem;
}
@media only screen and (max-width:600px){
    .processNav{
        grid-template-columns: 1fr;
    }
    #navImg{
        grid-column: 1/1;
    }
}